$(document).ready(function() {
  setTimeout(function() {
    $('#account_dt_filters').html(
      " \
        <a href='javascript:;' id='accounts_table_reload_button' class='btn btn-success' style='margin-right: 5px; padding: 0.275rem 0.75rem;'>Refresh</a>\
        <select id='account_status_filter' class='account_status_filter select2'> \
          <option value=''>Account Status</option> \
          <option value='new' selected>New</option> \
          <option value='inserted'>Inserted</option> \
        </select> \
        <select id='account_wse_status_filter' class='account_wse_status_filter select2'> \
          <option value=''>WSE Status</option> \
          <option value='new'>New</option> \
          <option value='valid'>Valid</option> \
          <option value='duplicate'>Duplicate</option> \
          <option value='invalid'>Invalid</option> \
        </select> \
        <select id='account_area_filter' class='account_area_filter select2'> \
          <option value=''>Area Filter</option> \
          <% Account.districts.each do |district| %> \
            <option value='<%= district %>' <%= district == 'Quận 7' ? 'selected' : nil %>><%= district %></option> \
          <% end %>\
        </select> \
      "
    )

    $( "#account_page .select2" ).select2({
      theme: "bootstrap",
      dropdownAutoWidth: false,
      width: '150px'
    }).on('change', function(){
      accounts_table.fnDraw();
    })

    $("#accounts_table_reload_button").on('click', function(){
      accounts_table.fnDraw();
    })

    setTimeout(function(){
      accounts_table.fnDraw();
    }, 1000)
  }, 1000);
})
