.clear
#footer
  .hr-title
    %span
  .social-media
    %a.facebook{:href => "#"}
      = fa_icon "facebook"
    %a.twitter{:href => "#"}
      = fa_icon "twitter"
    %a.google{:href => "#"}
      = fa_icon "google"
  #copyright
    &copy
    %a{:href => "#"}
      Chang's ❤️
    2018
    %p
      All Rights Reserved. Design by
      %a{:href => "http://portfolio.hiepdinh.com"}
        Hiep Dinh.
