<div id="potential_page">
  <div class="text-right">
    <%= link_to "New Potential", new_potential_path, class: 'btn btn-sm btn-success' %>
  </div>
  <br>
  <div class="table-responsive">
    <table id="potentials-table" class="table" data-source="<%= datatable_url %>" style='width: 100%'>
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Phone</th>
          <th>Owner</th>
          <th>Remind at</th>
          <th>Source</th>
          <th style="width: 150px;">Actions</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
