<br>
<div class="offset-sm-3 col-sm-6">
  <div class="card border-secondary mb-3">
    <div class="card-header">New Potential</div>
    <div class="card-body">
      <%= render 'form', potential: @potential %>
    </div>
  </div>
</div>