#accounts-table{
  td{
    vertical-align: middle;
  }

  .act.btn{
    margin-left: 5px;
    &:nth-child(1){
      margin-left: 0;
    }
  }

  .btn-favorite {
    &.fv-active {
      i {
        color: #F39C12;
      }
    }
  }
}
