#potential_page{
  .table-responsive{
    padding-top: 15px;
  }
  #potentials-table{
    td{
      vertical-align: middle;
    }

    .act.btn{
      margin-left: 5px;
      &:nth-child(1){
        margin-left: 0;
      }
    }
  }

  .input-group.date.only_date{
    width: 147px;
    input{
      width: 110px;
    }
  }

  .bootstrap-datetimepicker-widget.dropdown-menu{
    min-width: 302px;
  }
}
