<div class="alert alert-dismissible alert-info">
  <strong>Account added last 1/3/7/30/60 day(s):</strong>&nbsp;
  <i><%= [1, 3, 7, 30, 60].map{|day_num| Account.where('created_at > ?', day_num.day.ago).count }.join('/') %></i>
</div>

<div class="row">
  <div class="col-sm-6">
    <h4>HCM Accounts</h4>
    <%= render 'overview', data: Account.group_by_areas(extra_condition: "region_id = 13") %>
  </div>
  <div class="col-sm-6">
    <h4>Other Region Accounts</h4>
    <%= render 'overview', data: Account.group_by_areas(extra_condition: "region_id <> 13") %>
  </div>
</div>
<br><br><br>

<table id="logs-table" class="table" data-source="<%= datatable_url %>" style='width: 100%'>
  <thead>
    <tr>
      <th>#</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>




