<% url = "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>
<table id="logs-table" class="table" data-source="<%= url %>" style='width: 100%'>
  <thead>
    <tr>
      <th>#</th>
      <th>Description</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
